# weekend syntax: <weekend>.<uniqueNumber>
# Valid values for a weekend are
# sunday, monday, tuesday, wednesday, thursday, friday, saturday
weekend.1=
weekend.2=
weekend.3=
weekend.4=

holiday.format=MM/dd/yyyy

# holiday syntax: <holiday>.<uniqueNumber>
holiday.1=
holiday.2=
holiday.3=
holiday.4=
holiday.5=
holiday.6=
holiday.7=
holiday.8=
holiday.9=
holiday.10=