/*******************************
 * webM Common Style Sheet
 *******************************/

/*******************************
 * webM Colors
 *******************************
 * blue-dark   : #00506a
 * blue-bright : #1875b4
 * grey        : #949194
 * black       : #000000
 *******************************/

/*******************************
 * General Settings
 *******************************/

body, th, td, font          { font-family:  "Tahoma", verdana,arial,helvetica,sans-serif; color: #555555; font-size: 11px; }

.text-container             { margin-left: 10px; margin-right: 10px; }
div.book, div.chapter       { margin-left: 10px; margin-right: 10px; }
.text-container h1, .text-container h2, .text-container h3, .text-container h4, .text-container h5 { margin-left: -10px; }
div.book h1, div.book h2, div.book h3, div.book h4, div.book h5                                    { margin-left: -10px; }
div.chapter h1, div.chapter h2, div.chapter h3, div.chapter h4, div.chapter h5                     { margin-left: -10px; }

h1, h2, h3                  { text-align: left; margin-bottom: 14px; }
h4, h5, h6                  { text-align: left; margin-bottom: 4px; }
h2                          { margin-top: 32px; }
h3, h4, h5, h6              { margin-top: 22px; }

h1, h2, h3, h4              { color: #00506a; text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4); }
h1                          { font: 170% "Tahoma", verdana,arial,helvetica,sans-serif; }
h2                          { font: 140% "Tahoma", verdana,arial,helvetica,sans-serif; }
h3                          { font: 120% "Tahoma", verdana,arial,helvetica,sans-serif; }
h4                          { font: bold 100% "Tahoma", verdana,arial,helvetica,sans-serif; }
h5                          { font: italic 100% "Tahoma", verdana,arial,helvetica,sans-serif; }
h6                          { font: small-caps 100% "Tahoma", verdana,arial,helvetica,sans-serif; }

p, ol, ul, .para            { margin: 0 0 8px 0; }

li em, p em                 { padding: 0 1px 0 1px; text-decoration: none; }
code em, tt em              { text-decoration: none; }

pre                         { border-radius: 5px; padding: 0.8em; line-height: 1.3; }
pre.code, pre.programlisting{ color: #5f5f5f; background-color: white;  border: dashed #5f5f5f 1px; }
pre.screen, pre.tt          { background-color: #5f5f5f; color: white; }
code, tt, pre               { font-family: courier, monospace; }

:link                       { text-decoration: none; color:#1875b4; background: transparent }
:visited                    { text-decoration: none; color:#1875b4; background: transparent }
a:active                    { text-decoration: underline; color:#1875b4; background: transparent }
a:focus                     { outline: thin dotted }
a:hover                     { text-decoration: none; color:#1875b4; background: #ffffaa }
a[name]:hover               { text-decoration: none; color:#00506a; background: transparent }
a:link img, a:visited img   { border-style: none; }
