<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.BasicData">
    <list name="nsplugins">
      <!-- <idataportable javaclass="com.wm.app.b2b.server.ns.NSPlugin">
        <value name="FACTORY_CLASS">com.webmethods.xslt.XSLTFileFactory</value>
      </idataportable> -->
      <idataportable javaclass="com.wm.app.b2b.server.ns.NSPlugin">
        <value name="FACTORY_CLASS">com.webmethods.xslt.XSLTServiceFactory</value>
      </idataportable>
    </list>
  </record>
</IDataXMLCoder>

