div.Title, caption.Title
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.Table_Cell, caption.Table_Cell
{
  background-color: Transparent;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  vertical-align: top;
}

div.important, caption.important
{
  background-color: Transparent;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-top: 9px;
}

div.Section, caption.Section
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Section_Title, caption.Section_Title
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 18px;
}

div.Body, caption.Body
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.norules-head, caption.norules-head
{
  background-color: Transparent;
  border-bottom-color: #007096;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-top: 9px;
}

div.Heading_1, caption.Heading_1
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.Figure, caption.Figure
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Figure_Title, caption.Figure_Title
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 18px;
}

div.Note, caption.Note
{
  background-color: Transparent;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-top: 9px;
}

div.Link_List_Title, caption.Link_List_Title
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 18px;
}

div.heading-no-quotes, caption.heading-no-quotes
{
  background-color: White;
  color: #804000;
  font-family: Calibri;
  font-size: 12pt;
  margin-bottom: 6pt;
  margin-top: 6pt;
}

div.Title_TOC_Only, caption.Title_TOC_Only
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.Heading_1_TOC_Only, caption.Heading_1_TOC_Only
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.ChapterTOC_1, caption.ChapterTOC_1
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
  text-indent: -18pt;
}

div.Heading_2, caption.Heading_2
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.List_1, caption.List_1
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
  text-indent: -18pt;
}

div.List_1_Continued, caption.List_1_Continued
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
}

div.Definition_Term, caption.Definition_Term
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-top: 9px;
}

div.Definition_Description, caption.Definition_Description
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 0px;
}

div.Heading_3, caption.Heading_3
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.List_2, caption.List_2
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 36pt;
  margin-top: 9px;
  text-indent: -18pt;
}

div.List_2_Continued, caption.List_2_Continued
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 36pt;
  margin-top: 9px;
}

div.tip, caption.tip
{
  background-color: Transparent;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-top: 9px;
}

div.heading, caption.heading
{
  background-color: White;
  color: #804000;
  font-family: Calibri;
  font-size: 12pt;
  margin-bottom: 6pt;
  margin-top: 6pt;
}

div.Heading_4, caption.Heading_4
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.Numbered_2, caption.Numbered_2
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 8px;
  margin-left: 36pt;
  margin-top: 8px;
  text-indent: -18pt;
}

div.Child_Topic, caption.Child_Topic
{
  background-color: White;
  color: #007096;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Parent_Topic, caption.Parent_Topic
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Preformatted_1, caption.Preformatted_1
{
  background-color: #E5E4E4;
  color: Black;
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 18pt;
  margin-top: 0px;
  white-space: pre;
}

div.List_3, caption.List_3
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 54pt;
  margin-top: 9px;
  text-indent: -18pt;
}

div.Preformatted, caption.Preformatted
{
  background-color: #E5E4E4;
  color: Black;
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  white-space: pre;
}

div.internalheadrule, caption.internalheadrule
{
  background-color: Transparent;
  border-bottom-color: #007096;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-top: 0px;
  vertical-align: top;
}

div.Numbered_1, caption.Numbered_1
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 8px;
  margin-left: 18pt;
  margin-top: 8px;
  text-indent: -18pt;
}

div.newpage, caption.newpage
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.nonumber, caption.nonumber
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

span.Citation
{
  font-style: italic;
}

span.uicontrol
{
  font-weight: bold;
}

span.emphasis
{
  font-style: italic;
}

span.varname
{
  font-style: italic;
}

span.codeph
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
}

span.apiname
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
}

span.inlinetitle
{
  font-weight: bold;
}

span.term
{
  font-style: italic;
}

span.var-in-uicontrol
{
  font-style: italic;
  font-weight: bold;
}

span.var-in-codeph
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
  font-style: italic;
}

span.userinput
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
}

span.Bold
{
  font-weight: bold;
}

table.note1
{
  background-color: #E6FAFF;
  margin-bottom: 8px;
}

table.note2
{
  background-color: #E6FAFF;
  margin-bottom: 8px;
  margin-left: 25px;
}

table.NoRules2
{
  margin-left: 25px;
}

table.note3
{
  background-color: #E6FAFF;
  margin-bottom: 8px;
  margin-left: 50px;
}

